/* Styles for the LATAM Airlines login page */
.latam-login-wrapper {
    width: 100%;
    max-width: 608px;
    max-height: 482px;
    margin: 0 auto;
    padding: var(--space-xl) 0; /* 3rem arriba/abajo */
}

.latam-login-card {
    background: var(--color-neutral-0);
    border-radius: var(--border-radius-soft);
    box-shadow: var(--shadow-lg);
    padding: var(--space-l) var(--space-l) var(--space-m);
    border-top: var(--border-width-4) solid var(--color-primary-blue);
}


/* Login button */
.latam-btn-row {
    display: flex;
    justify-content: center;
}

.latam-btn {
    width: 60%; /* ajusta a 55–65% hasta que veas el mismo ancho */
    height: 54px;
    max-width: 360px;
    padding: var(--padding-y-s);
    border-radius: var(--border-radius-soft);
    border: none;
    font-size: var(--fs-14);
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    background: var(--color-secondary);
    color: var(--color-neutral-0);
}

.latam-btn--primary {
    background: var(--color-accent);
    color: var(--color-neutral-0);
}

    .latam-btn--primary:hover:not(:disabled),
    .latam-link-danger:hover:not(:disabled) {
        filter: brightness(1.05);
    }

    .latam-btn--primary:active:not(:disabled),
    .latam-link-danger:active:not(:disabled) {
        filter: brightness(0.92);
    }

    .latam-btn--primary:disabled {
        background: var(--color-disabled);
        color: var(--color-neutral-0);
        cursor: not-allowed;
        box-shadow: none;
        filter: none;
    }

/* Links below the button */
.latam-login-links {
    margin-top: var(--space-l);
    text-align: center;
    font-size: var(--fs-14);
    font-weight: var(--font-weight-medium);
}

.latam-link-danger {
    color: var(--color-accent); /* rojo de tu sistema */
    text-decoration: none;
}

/* Responsive */

@media (max-width: 600px) {

    .latam-login-wrapper {
        max-width: 100%;
        padding: 0 var(--space-s) var(--space-l);
    }

    .latam-login-card {
        padding: var(--space-m) var(--space-base);
        border-radius: var(--border-radius-soft);
        box-shadow: var(--shadow-lg);
    }

    .latam-login-title {
        font-size: var(--fs-18);
    }

    .latam-login-logo {
        max-width: 180px;
        height: auto;
    }

    .latam-remember-row {
        justify-content: center; /* centra checkbox + texto */
        text-align: center;
    }

    .latam-btn {
        width: 100%; /* botón ancho completo */
    }
}

@media (min-width: 601px) {
    .latam-login-wrapper {
        padding: var(--space-xl) 0 var(--space-xl) 0;
    }
}
