/**----------------panel-------------------**/
/* capa oscura */
.latam-modal-overlay {
    position: fixed;
    inset: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, .35);
    display: flex;
    justify-content: center; /* centra horizontal */
    align-items: flex-start; /* lo “baja” desde arriba */
    backdrop-filter: blur(5px);
}

/* panel base */
.latam-modal-panel {
    background: var(--color-neutral-0);
    box-shadow: var(--shadow-lg);
    border-radius: var(--border-radius-soft);
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 608px;
    width: 100%;
    margin-top: 9vh; 
    margin-bottom: auto; 
}
.label-description{
    display: block;
    font-size: var(--fs-14);
    margin-bottom: var(--space-xs);
    color: var(--color-neutral-7); 
}

.latam-modal-header {
    display: flex;
    align-items: center;
    padding: var(--space-base) var(--space-base) 0 var(--space-base);
    font-size: var(--fs-16);
    font-weight: var(--font-weight-semibold);
    color: var(--color-navbar);
    max-height:40px;
    gap:var(--space-s);
}

.latam-modal-body {
    padding: 0 var(--space-base);
    font-size: var(--fs-16);
    color: var(--color-navbar)
}

.latam-field p{
    color: var(--color-primary-blue);
    font-size:var(--fs-14);
    margin:0;
    padding: 0;
}
.latam-modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-base);
    padding: 0 var(--space-base) var(--space-base);
    width: 70%;
    margin: 0 auto;
}

.latam-modal-body textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; /* incluye padding y borde en el 100% */
    overflow-wrap: break-word;
    word-break: break-word; /* por si hay palabras larguísimas */
}


/* Mobile: botones apilados */
@media (max-width: 600px) {
    .latam-modal-panel {
        width: 100%;
        margin: 10vh var(--space-base) auto var(--space-base);
    }

    .latam-modal-footer {
        flex-direction: column; /* uno encima de otro */
        align-items: stretch; /* que ocupen todo el ancho */
    }

        .latam-modal-footer button {
            width: 100%; /* opcional: ancho completo */
        }
}
