
.nuevo-ingreso-header {
    padding-bottom: var(--space-s);
    margin-bottom: var(--space-base);
}

.nuevo-ingreso-header .label {
    font-weight: var(--font-weight-semibold);
    font-size: var(--fs-20);
    margin: 0;
    color: var(--color-navbar);
}

.nuevo-ingreso-header .value {
    margin: 0;
}

.mobile-break {
    display: none;
}

@media (max-width: 600px) {
    .mobile-break {
        display: inline;
    }

    .nuevo-ingreso-header span:last-child {
        font-weight: var(--font-weight-regular);
        font-size: var(--fs-18);
    }
}
/* ---------- FOOTER REDIRECTS ---------- */
.redirects-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---------- GARMENT LIST ---------- */
/* layout cards */
.garment-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}


/* MOBILE: una sola columna */
@media (max-width: 600px) {
    .garment-list {
        flex-direction: column;
    }
}

/* DESKTOP: 3 columnas */
@media (min-width: 600px) {
    .garment-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: var(--space-m);
    }
}