.latam-toast {
    position: fixed;
    z-index: 1050;
    display: flex;
    align-items: center;
    gap: var(--space-base);
    padding: var(--space-xs) var(--space-base);
    color: var(--color-neutral-0);
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    width: 68.8%;
    border-radius: var(--space-xs);
    opacity: 0;
    height: 60px;
    transform: translateY(20px);
    top: 1rem;
    font-size:var(--fs-14);
}
.success {
    background: var(--color-toast-success);
}

.error {
    background: var(--color-toast-error);
}
.info {
    background: var(--color-toast-info);
}
.warning {
    background: var(--color-toast-warning);
}
/* Mobile: parte superior centrada */
@media (max-width: 600px) {
    .latam-toast {
        top: 0px;
        width: 100%;
        left: 0;
        border-radius:0;
        height:80px;
        font-size:var(--fs-16)
    }
}

.latam-toast__title {
    margin: 0;
    font-weight: var(--font-weight-semibold);
}

.latam-toast__text {
    margin: 0;
}

/* clase que activa la animación */
.latam-toast--enter {
    animation: toast-fade-in 0.35s ease-out forwards;
}

@keyframes toast-fade-in {
    from {
        opacity: 0;
        transform:translateY(0)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}