
/**----------------toogle-------------------**/
.latam-account-toggle {
    background: transparent;
    border: none;
    padding: var(--space-xs) 0;
    cursor: pointer;
}

/**----------------panel-------------------**/
/* capa oscura */
.latam-account-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.35);
    z-index: 1000;
}

/* panel base */
.latam-account-panel {
    background: var(--color-neutral-0);
    box-shadow: var(--shadow-lg);
    border-radius: var(--border-radius-soft);
    display: flex;
    flex-direction: column;
}

.latam-account-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-base);
    border-bottom: 1px solid var(--color-separator);
}

.latam-account-logo {
    height: 24px;
}

.latam-account-close {
    background: transparent;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: var(--color-primary-blue);
}

.latam-account-body {
    padding: var(--space-base);
    color: var(--color-navbar)
}

.latam-account-footer {
    margin-top: auto;
    padding: var(--space-base);
    border-top: 1px solid var(--color-separator);
}

.latam-account-logout {
    display: inline-flex;
    align-items: center;
    gap: var(--space-xs);
    border: none;
    background: transparent;
    color: var(--color-primary-blue);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
}


/* DESKTOP: dropdown junto al ícono, overlay transparente */
@media (min-width: 769px) {

    .latam-account-overlay {
        background: transparent;
        pointer-events: none;
       
    }

    .latam-account-panel {
        position: absolute;
        top: 56px; /* altura de tu header */
        right: var(--space-base);
        width: 320px;
        pointer-events: auto;
    }
}

/* MOBILE: modal a pantalla casi completa */
@media (max-width: 768px) {

    .latam-account-panel {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        max-width: 420px;
        margin-left: auto;
        border-radius: 0;
    }

    .latam-account-body {
        padding: var(--space-base);
        /*padding-right: var(--space-m);*/
    }

    .latam-account-footer {
        margin-top: auto;
        padding: var(--space-l);
    }

    .latam-account-logout {
        width: 100%;
        justify-content: center;
    }
}
